.Header {
	opacity: 1;
	display: flex;
	padding-top: 50px;
	z-index: 0;

	&--title {
		font-size: 32px;
		margin-bottom: 0;
		color: #170C3A;
		width: 90%;
		
	}
	&--title span {
		left: auto;
	}
	&--title p {
		font-size: 22px;
	}
}